*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

*:focus {
    outline: 2px dotted rgb(1, 94, 94);
    outline-offset: 1px;
}

body {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
}

.img-box {
    max-width: 100%;
    height: 40vh;
    border-radius: 10px;
}

.img-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.values-box {
    max-width: 100%;
    height: 20vh;
    text-align: center;
}

.values-box h2 {
    font-size: 28px;
    color: rgb(8, 161, 161);
    margin-top: 10px;
    margin-bottom: 10px;
}

.to {
    font-size: 16px;
}

.players {
    margin-top: 10px;
    margin-bottom: 10px;
}

.values-box .player-1, .player-2 {
    font-size: 24px;
    font-weight: 900;
}

.values-box select {
    width: 15vh;
    height: 5vh;
    text-align: center;
    outline: none;
    color: rgb(4, 56, 56);
    background-color: rgba(7, 252, 252, 0.308);
    border: none;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}

.values-box select:hover {
    background-color: aqua;
}

.buttons-box {
    max-width: 100%;
    height: 20vh;
}
.buttons-box {
    text-align: center;
}

.btn-player1 {
    margin-right: 15px;
}

.btn-player1, .btn-player2 {
    border: none;
    background-color: rgba(7, 252, 252, 0.308);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-player1:hover, .btn-player2:hover {
    background-color: aqua;
}

.reset {
    width: 200px;
    height: 6vh;
    margin-top: 10px;
    background-color: crimson;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.reset:hover {
    background-color: rgba(199, 26, 61, 0.822);
}

/* Responsive */

@media ( min-width: 0 ) and ( max-width: 300px ){  
    .values-box h2 {
        font-size: 16px;
        color: rgb(8, 161, 161);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .to {
        font-size: 10px;
    }
    
    .players {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .values-box .player-1, .player-2 {
        font-size: 18px;
    }
    
    .values-box select {
        width: 15vh;
        height: 4vh;
        border-radius: 3px;
        font-size: 14px;
    }

    .buttons-box {
        margin-top: -15px;
    }
    .btn-player1, .btn-player2 {
        display: block;
        margin: auto;
        margin-top: 5px;
        padding: 5px;
        font-size: 14px;
    }

    .reset {
        width: 100px;
        height: 5vh;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
    }
}





